# Stores the Dependencies for the Project specifically for python 3.12

# Necessary Dependencies
requests
aio-pika
aiohttp
fastapi
uvicorn
python-dotenv

# Project Dependent Dependencies
# Example:
# pymongo
# tqdm
# openai
# flask
# flask_cors
# pdfplumber